.custom-dropdown-toggle {
  text-decoration: none !important;
  font-size: 20px;
  /* Remove the underline */
}

/* Additional styles to remove the underline from the Bootstrap icon */
.custom-dropdown-toggle .bi {
  text-decoration: none !important;
}

.bi{
  text-decoration: none;
}

.custom-dropdown-toggle{
  text-decoration: none;
}

.custom-dropdown-toggle {
  text-decoration: none;
}

/* Style for the dropdown items */
.custom-dropdown-menu a {
  color: #333;
  /* Set your desired color */
  text-decoration: none;
}

/* Style for the active dropdown item (when selected) */
.custom-dropdown-menu a.active {
  background-color: #007bff;
  /* Set your desired active color */
  color: #fff;
  /* Set your desired active text color */
}

/* Style for the Sign Out button specifically */
.custom-dropdown-menu 
.sign-out-button {
  color: #000000;
  background-color: white;
  /* Set your desired color for Sign Out button */
}