.container-SignUpWithMail{
  align-items: center;
  text-align: center;
}

.SignUpWithMail-header{
  font-size: 28px;
  margin-top: 20px;
}

.SignUpWithMail-text{
  font-size: 16px;
  margin-top: 20px;
}

.SignUpWithMail-small-text{
  font-size: 13px;
  margin-top: 20px;
}

.email-input {
  position: relative;
}

.email-input input {
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  padding-bottom: 5px;
  width: 100%;
}

.email-continue-button{
  background-color: #000;
  color: white;
  height: auto;
  width: 100px;
  margin-top: 40px;
  border-radius: 30px;
}