@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import '../../variables.scss';

.banner {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #212121;
  padding-bottom: 10px;
  background-color: $yellow-color;
  position: relative;
  top: 0;
  left: 0;
  /* z-index: -1; */
}
.banner > div {
  padding-top: 167px;
  padding-left: 65px;
}

.banner > div h1 {
  letter-spacing: -0.05em;
  line-height: 95px;
  font-size: 110px;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 30px;
  color: black;
  font-weight: 500;
}
.banner > div p {
  font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 24px;
  padding-bottom: 30px;
  margin-right: 75px;
}
.banner > div button {
  font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 4px 20px 9px;
  font-size: 20px;
  color: white;
  background: black;
  border-radius: 20px;
  width: 210px;
  font-weight: 400;
  opacity: 0.9;
  /* position: sticky; */
  /* bottom: 160px; */
  /* left: 65px; */
  /* z-index: 0; */
  opacity: 0.8;
}
.banner > div button:hover {
  opacity: 1;
  cursor: pointer;
}